/**/
.card-custom {
            
    background-color:transparent; /*#f8f9fa;#ece2db;*/
    border: none; /* Removing the border */
    box-shadow: none; 
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    
    max-width: 450px;
    transition: transform 1s ease-in-out;
   }